.winelist p {
    text-transform: capitalize;
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    margin: 0px;
}

.drink-title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    margin: 0;
}

.winelist .price {
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    margin: 0;
}

.drink-title span {
    padding-left: 20px;
    font-weight: 500;
}

.wines li {
    list-style: none;
}

.wines ul {
    padding: 0;
}

.winelist {
    display: flex;
}

.winelist h3 {
    margin: 0;
}

.winelist h2 {
    font-family: "JosefinSans-SemiBold", sans-serif;
    font-size: 37px;
}

.wines h2 {
    text-transform: uppercase;
}

.beer-oz {
    text-transform: lowercase;
}

.drink-list {
    padding-bottom: 35px;
}

.wines {
    width: 100%;
    height: auto;
    overflow: auto;
}

.oc-wine-modal{
    top:420px;
}

#oc-edit-beer-modal{
    top:420px;
    position: absolute;
    left: 500px;
    z-index:100;
    pointer-events: none;
    background: rgba(45, 102, 78, 0.8);
    opacity:0;
    transition: opacity 400ms ease-in;
    padding:10px;
}

#oc-edit-beer-modal:target{
    opacity: 1;
    pointer-events: auto;
}

#oc-create-beer-modal{
    top:420px;
    background: rgba(226, 159, 147, 0.8); 
    opacity:0;
    transition: opacity 400ms ease-in;
    padding:10px;
    position: absolute;
    left: 500px;
    z-index:100;
    pointer-events: none;
}

#oc-create-beer-modal:target{
    opacity: 1;
    pointer-events: auto;
}

.oc-create-modal-title, .oc-create-label, .oc-create-close{
    color:#2d664e;
}