.Events {
  background-color: #6e9276;
  min-height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 45px;
}

.events__heading {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.events__section-heading {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  line-height: 2em;
  text-transform: uppercase;
  line-height: 2em;
}

.events__section-content, .events__email {
  margin: 0;
  line-height: 1.5em;
  font-weight: 300;
}

.events__strong {
  font-weight: 600;
}

.events__link {
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
  opacity: 1;
  color: white;
}

.events__link:hover {
  opacity: .7;
}
@media (max-width: 500px) {      
  .Events{
    width: 100vw;
  }
}
  