.About{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    align-items: center;
    overflow: scroll;
    margin: 0 auto;
    padding: 30px;
}

.about_heading {
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: black;
}

    .about_img {
        width: 287px;
        height: 287px;
        margin: 0 auto;
        display: flex;
    }

.Ravi-DeRossi_title {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-family: "Josefin Sans";

}

.Ravi-DeRossi_restaur {
    font-stretch: normal;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: normal;
    margin-top: -35px;
}

.Ravi-DeRossi_travel {
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: justify;
    letter-spacing: normal;
    line-height: 1.2;
    color: black; 
    margin: 0 auto;
}

.Ravi-DeRossi_travel span {
    color: #e29f93;
}
