.ReserveButton {
    background-color: #e29f93;
    padding: 13px 46px 9px;
    border-radius: 23px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
  }
  .ReserveButton:hover {
    background-color: rgba(226,159,147, .7);
  } 