* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

button {
  background-color: #e29f93;
  padding: 13px 46px 9px;
  border-radius: 23px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  transition: all .3s;
  cursor: pointer;
}

button:hover {
  background-color: rgba(226,159,147, .7)
}