* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #252525;
}

button {
  background-color: #e29f93;
  padding: 13px 46px 9px;
  border-radius: 23px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  transition: all .3s;
  cursor: pointer;
}

button:hover {
  background-color: rgba(226,159,147, .7)
}

.page-section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.sticky-side {
  height: 100vh;
  width: 50%;
  position: sticky;
  overflow: hidden;
}

.sticky-side img {
  height: auto;
  min-height: 100vh;
  width: 100%;
  min-width: 75vh;
}